.container {
  height: 100vh;
  background: #1e2235;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  background: #484f73;
  padding: 30px;
  border-radius: 12px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

button {
  padding: 10px;
  background: #1e2235;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
